<!DOCTYPE html>

<html>
    <head>
        <title>Your Car Dealership</title>
    </head>
    <body>
        <h1>Your Postings have all been deleted!</h1>
        <a href="/">Add another car</a>
    </body>
</html>
