<!DOCTYPE html>

<html>
    <head>
        <title>Your Car Dealership's Results</title>
    </head>
    <body>
        <h1>Your Car Dealership</h1>
        <ul>
            {% for car in cars %}
                <li>Make and Model: {{car.getMake_model}}</li>
                <li>Price: ${{car.getPrice}}</li>
                <li>Mileage: {{car.getMiles}}</li>
                <img src="{{car.getImg}}">
            {% endfor %}
        </ul>
        <a href="/">Add another car</a>
        <a href="/delete">Delete all posts</a>
    </body>
</html>
